.nav{
    display: block;
    position: fixed;
    height: 50%;
    width: 12rem;
    align-items: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    background: #0a0024;
    border-bottom-right-radius: 20px;
    transition: 0.4s;

    .nav_itens{
        padding:10px 20px;
        margin: 0 ;
    }
    .nav_itens li{
        list-style: none;
    }
    .nav_itens li a{
        display: flex;
        justify-content: space-around;
        padding: 14px;
        padding-bottom: 28px;
        font-size: 12px;
        font-weight: 800;
        color: #fff;
        text-decoration: none;
        box-shadow: inset 0 0 0 #fff;
        transition: 0.3s ease;
    }
    .nav_itens li a:hover{
        
        box-shadow: inset 0 -12px 0 0 #fff;
    }
    .nav_mobile_menu div{
        display: none;
        margin: 5px;
        width: 35px;
        height: 3px;
        background: #fff;
        z-index: 2;
        cursor: pointer;
    }
}


@media (max-width: 756px) {
    .nav{
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 4.5rem;
        width: inherit;
        border-bottom-right-radius: 0;
        z-index: 1030;
        justify-content: space-between;
        .nav_mobile_menu div{
            display: block;
            transition: 0.4s ease;
            z-index: 2;
            
        }
        .nav_itens{
            position: absolute;
            top: -2vh;
            right: 0;
            width: 100vw;
            height: 150vh;
            align-items: center;
            flex-direction: column;
            background:#0a0024;
            transition: 0.5s ease;
            transform: translateX(100%);
            z-index: -1;
        }
        .nav_itens li{
            margin-left: 0;
            margin-top: 190px;
            text-align: center;
        }
        .nav_itens li a{
           color: #fff;
        }
        .nav_itens li a i{
            margin-left: 10px;
            font-size: 32px;
        }
        .nav_itens.active{
            transform: translateX(15%);
        }
        .nav_mobile_menu.active .logo-bar-1{
            transform: rotate(-50deg) translate(-12px, -1px);
            transition: 0.4s ease;
            z-index: 3;
        }
        .nav_mobile_menu.active .logo-bar-2{
           display: none;
        }
        .nav_mobile_menu.active .logo-bar-3{
            transform: rotate(50deg) translate(-3px, 5px);
            transition: 0.4s ease;
            z-index: 3;
        }
    }
}
