.title{
    position: absolute;
    right: 0;
    h2{
        width: 400px;
        padding: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-bottom-left-radius: 5px;
        background: red;
        color: #fff;
    }
}